<launch>
    <!-- TF Tree Setup -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom"
          args="0 0 0 0 0 0 map odom" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_base_link"
          args="0 0 0 0 0 0 odom base_link" />
          
    <!-- SLAM -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <param name="base_frame" value="base_link"/>
        <param name="odom_frame" value="odom"/>
        <param name="map_frame" value="map"/>
        
        <!-- Scanner params -->
        <param name="maxUrange" value="3.0"/>
        <param name="maxRange" value="8.0"/>
        
        <!-- Update params -->
        <param name="map_update_interval" value="1.0"/>
        <param name="linearUpdate" value="0.2"/>
        <param name="angularUpdate" value="0.2"/>
        
        <!-- Processing params -->
        <param name="particles" value="30"/>
    </node>

    <!-- RViz -->
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find ai3-roai-project)/config/mapping.rviz"/>
</launch>